<footer id = "footer-wrap" class = "footer-section section footer-wrap">
  <div class = "{{ container }} footer-blocks">
    {% if page.footer %}
    <div class = "col-md-6 footer-message">
      {{ page.footer }}
    </div>
    {% elseif snippet.footer %}
    <div class = "col-md-6 footer-message">
      {{ snippet.footer }}
    </div>
    {% endif %}
    
    <div class = "col-md-6 footer-menus">
      <div class = "row">
        {% if page.footer_menu1 %}
        <div class = "col-sm-4 footer-menu footer-menu-1">
          {{ page.footer_menu1 }}
        </div>
        {% elseif snippet.footer_menu1 %}
        <div class = "col-sm-4 footer-menu footer-menu-1">
          {{ snippet.footer_menu1 }}
        </div>
        {% endif %}

        {% if page.footer_menu2 %}
        <div class = "col-sm-4 footer-menu footer-menu-2">
          {{ page.footer_menu2 }}
        </div>
        {% elseif snippet.footer_menu2 %}
        <div class = "col-sm-4 footer-menu footer-menu-2">
          {{ snippet.footer_menu2 }}
        </div>
        {% endif %}

        {% if page.footer_menu3 %}
        <div class = "col-sm-4 footer-menu footer-menu-3">
          {{ page.footer_menu3 }}
        </div>
        {% elseif snippet.footer_menu3 %}
        <div class = "col-sm-4 footer-menu footer-menu-3">
          {{ snippet.footer_menu3 }}
        </div>
        {% endif %}
 
      </div>
    </div>
  </div>

  <div class = "footer-copyright-menu {{ container }}">
    {% if page.footer_copyright %}
    <div class = "col-sm-6 footer-copyright text-left">
      {{ page.footer_copyright }}
    </div>
    {% elseif snippet.footer_copyright %}
    <div class = "col-sm-6 footer-copyright text-left">
      {{ snippet.footer_copyright }}
    </div>
    {% endif %}
    
    {% if page.footer_menu %}
    <div class = "col-sm-6 footer-menu text-right hidden-xs">
      {{ page.footer_menu }}
    </div>
    {% elseif snippet.footer_menu %}
    <div class = "col-sm-6 footer-menu text-right hidden-xs">
      {{ snippet.footer_menu }}
    </div>
    {% endif %}
  </div>

</footer>
